body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../imagens/canos.jpeg'); 
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    z-index: 1000; /* Garante que o menu fique sobre outros elementos */
    
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin: 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.menu a:hover {
    background-color: #575757;
}

.container {
    width: 80%;
    margin: 80px auto 20px auto; /* Margem superior maior para não sobrepor o menu fixo */
}

form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

input[type="text"], input[type="number"], select {
    width: 75%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}